@{
    Layout = null;
    @model IEnumerable<ExploreLocal.Models.Tbl_Expert>
}
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title> AdminPanel Home - ExploreLocal</title>
</head>
<body>
    @Html.Partial("Layout")
    <div class="body-wrapper">
        <div class="container-fluid" style="margin-top:50px;">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                <div class="mb-3 mb-sm-0">
                                    <h5 class="card-title fw-semibold">Revenue Updates</h5>
                                    <p class="card-subtitle mb-0">Overview of Profit</p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8">
                                    <canvas id="revenueExpenseChart" width="400" height="300"></canvas>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="d-flex align-items-center mb-4 pb-1">
                                        <div class="p-8 bg-light-primary rounded-1 me-3 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-grid-dots text-primary fs-6"></i>
                                        </div>
                                        <div>
                                            <h4 class="mb-0 fs-7 fw-semibold">@string.Format("{0:C}", ViewBag.TotalEarnings)</h4>
                                            <p class="fs-3 mb-0">Total Earnings</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-baseline mb-4">
                                            <span class="round-8 bg-primary rounded-circle me-6"></span>
                                            <div>
                                                <p class="fs-3 mb-1">Earnings</p>
                                                <h6 class="fs-5 fw-semibold mb-0">@ViewBag.EarningsThisMonth</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-baseline mb-4 pb-1">
                                            <span class="round-8 bg-secondary rounded-circle me-6"></span>
                                            <div>
                                                <p class="fs-3 mb-1">Expense</p>
                                                <h6 class="fs-5 fw-semibold mb-0">@ViewBag.ExpenseThisMonth</h6>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary w-100">
                                                <a href="@Url.Action("ExpertBookings")" style="color:white;">
                                                    View Full Report
                                                </a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var revenueData = @Html.Raw(Json.Encode(ViewBag.RevenueData));
                    var expenseData = @Html.Raw(Json.Encode(ViewBag.ExpenseData));
                    var ctx = document.getElementById('revenueExpenseChart').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Booking 1', 'Booking 2', 'Booking 3',],
                            datasets: [
                                {
                                    label: 'Revenue',
                                    data: revenueData,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Expense in PKR',
                                    data: expenseData,
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1
                                }
                            ]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h5 class="card-title mb-9 fw-semibold">Yearly Breakup</h5>
                                            <h4 class="fw-semibold mb-3">@ViewBag.TotalYearlyBookings</h4>
                                            <div class="d-flex align-items-center mb-3">
                                                <span class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                                                    <i class="ti ti-arrow-up-left text-success"></i>
                                                </span>
                                                <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                                                <p class="fs-3 mb-0">last year</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="d-flex justify-content-center">
                                                <div id="breakup"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row alig n-items-start">
                                        <div class="col-8">
                                            <h5 class="card-title mb-9 fw-semibold"> Monthly Earnings </h5>
                                            <h4 class="fw-semibold mb-3">@ViewBag.EarningsThisMonth</h4>
                                        </div>
                                    </div>
                                </div>
                                <div id="earning"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <div>
                                <h5 class="card-title fw-semibold mb-1">Best Going Tours</h5>
                                <p class="card-subtitle mb-0">Every month</p>
                                <canvas id="bestGoingToursChart" width="150" height="190"></canvas>
                            </div>
                        </div>
                        <script>
                            var bestGoingToursData = @Html.Raw(Json.Encode(ViewBag.BestGoingToursData));
                            var labels = bestGoingToursData.map(function(item) {
                                return item.DestinationName;
                            });
                            var data = bestGoingToursData.map(function(item) {
                                return item.BookingsCount;
                            });
                            var ctx = document.getElementById('bestGoingToursChart').getContext('2d');
                            var chart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Bookings Count',
                                        data: data,
                                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                        borderColor: 'rgba(75, 192, 192, 1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body pb-0 mb-xxl-4 pb-1">
                                    <p class="mb-1 fs-3">Total Users</p>
                                    <h4 class="fw-semibold fs-7">@ViewBag.TotalUsers</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <p class="mb-1 fs-3">Total Tours</p>
                                    <h4 class="fw-semibold fs-7">@ViewBag.TotalTours</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            @foreach (var user in ViewBag.LatestUsers)
                            {
                                <div class="d-flex align-items-center mb-7 pb-2">
                                    <div class="me-3 pe-1">
                                        <img src="@Url.Content(user.ProfileImageUrl)" class="shadow-warning rounded-2" alt="" width="72" height="72" />
                                    </div>
                                    <div>
                                        <h5 class="fw-semibold fs-5 mb-2">Our New Users </h5>
                                        <p class="fs-3 mb-0">September 2023</p>
                                    </div>
                                </div>
                            }
                            <div class="d-flex justify-content-between">
                                <ul class="hstack mb-0">
                                    @foreach (var user in ViewBag.OlderUsers)
                                    {
                                        <li class="ms-n8">
                                            <a href="javascript:void(0)" class="me-1">
                                                <img src="@Url.Content(user.ProfileImageUrl)" class="rounded-circle border border-2 border-white" width="44" height="44" alt="" />
                                            </a>
                                        </li>
                                    }
                                </ul>
                                <a href="@Url.Action("RegisteredUser","Admin")" class="bg-light rounded py-1 px-8 d-flex align-items-center text-decoration-none">
                                    View Full Report
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-strech">
                    <div class="card bg-primary border-0 w-100">
                        <div class="card-body">
                            <h5 class="fw-semibold mb-1 text-white card-title"> Best Commented Tours </h5>
                            <p class="fs-3 text-white">Overview 2023</p>
                            <div class="text-center" style="position:relative;top:18px;">
                                <img src="~/AdminTemplate/dist/images/backgrounds/welcome-bg2.png" class="img-fluid" alt="" />
                            </div>
                        </div>
                        <div class="card mx-2 mb-2 mt-n2">
                            <div class="card-body">
                                @foreach (var tour in ViewBag.BestCommentedToursData)
                                {
                                    <div class="mb-7 pb-1">
                                        <div class="d-flex justify-content-between align-items-center mb-6">
                                            <div>
                                                <h6 class="mb-1 fs-4 fw-semibold">@tour.TourName</h6>
                                                <p class="fs-3 mb-0">@tour.CommentCount comments</p>
                                            </div>
                                        </div>
                                        <div class="progress bg-light-primary" style="height: 4px;">
                                            <div class="progress-bar w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-14 d-flex align-items-strech justify-content-center">
                        <div class="card w-100">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-7">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Our Experts</h5>
                                        <p class="card-subtitle mb-0">Best Experts</p>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-middle text-nowrap mb-0">
                                        <thead>
                                            <tr class="text-muted fw-semibold">
                                                <th scope="col" class="ps-0">Expert Profile</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Brief Summary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="ps-0">
                                                            <div class="d-flex align-items-center">
                                                                <div class="me-2 pe-1">
                                                                    @if (!string.IsNullOrEmpty(item.ExpertProfileImage))
                                                                    {
                                                                        <img src="@Url.Content(item.ExpertProfileImage)" class="rounded-circle" width="40" height="40" alt="" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/Content/img/Default.png" width="40" height="40" class="circle-img" />
                                                                    }
                                                                </div>
                                                                <div>
                                                                    <h6 class="fw-semibold mb-1">@item.ExpertName</h6>
                                                                    <p class="fs-2 mb-0 text-muted">Expert</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0 fs-3">@item.ExpertEmail</p>
                                                        </td>
                                                        <td>
                                                            <p class="fs-3 text-dark mb-0">@item.ExpertLocation</p>
                                                        </td>
                                                        <td>
                                                            <p class="fs-3 text-dark mb-0">@item.ExpertBio</p>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-7">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Our Users</h5>
                                        <p class="card-subtitle mb-0">All Registered Users</p>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-middle text-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="ps-0">User Profile</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Password</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ViewBag.UserList != null)
                                            {
                                                foreach (var user in ViewBag.UserList)
                                                {
                                                    <tr>
                                                        <td class="ps-0">
                                                            <div class="d-flex align-items-center">
                                                                <div class="me-2 pe-1">
                                                                    @if (!string.IsNullOrEmpty(user.ImageUrl))
                                                                    {
                                                                        <img src="@Url.Content(user.ImageUrl)" class="rounded-circle" width="40" height="40" alt="" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/Content/img/Default.png" width="40" height="40" class="circle-img" />
                                                                    }
                                                                </div>
                                                                <div>
                                                                    <h6 class="fw-semibold mb-1">@user.Name</h6>
                                                                    <p class="fs-2 mb-0 text-muted">User</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="mb-0 fs-3">@user.Email</p>
                                                        </td>
                                                        <td>
                                                            <p class="fs-3 text-dark mb-0">@user.Location</p>
                                                        </td>
                                                        <td>
                                                            <p class="fs-3 text-dark mb-0">@user.Password</p>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>