@{
    Layout = null;
    @model IEnumerable<ExploreLocal.Models.Tbl_Expert>
}
<head>
    <title> Our Experts - AdminPanel</title>
    <link rel="stylesheet" href="~/Content/css/AdminPanel.css?v=@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        .table-responsive::-webkit-scrollbar {
            display: none;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        .center-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin-bottom: 50px;
        }

        .circle-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .center-heading {
            text-align: center;
            margin-top: 20px;
        }

        #wrapper {
            overflow-x: hidden;
        }

        #sidebar-wrapper {
            min-height: 100vh;
            width: 100vh;
            margin-left: -15rem;
            -webkit-transition: margin 0.25s ease-out;
            -moz-transition: margin 0.25s ease-out;
            -o-transition: margin 0.25s ease-out;
            transition: margin 0.25s ease-out;
            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
            border: 0.5px solid dodgerblue;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: 0;
        }

        #page-content-wrapper {
            min-width: 100vw;
        }
    </style>
</head>
<body>
    @Html.Partial("Layout")
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="body-wrapper">
            <div class="container-fluid">
                <div class="center-card" style="border: none;">
                    <div class="card container center-table bg-white" style="box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;">
                        <div class="container center-heading">
                            <h3 style="font-weight:600;">Our All Experts</h3>
                        </div>
                        <hr style="color:black;" />
                        <div class="table-responsive" style="overflow-y: scroll;">
                            <div class="table-responsive">
                                <table class="table table-borderless bg-white text-black customtable">
                                    <thead>
                                        <tr>
                                            <td>Id</td>
                                            <td>Profile</td>
                                            <td>Name</td>
                                            <td>Email</td>
                                            <td>Password</td>
                                            <td>Location</td>
                                            <td>Brief Summary</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.ExpertId</td>
                                                    <td>
                                                        @if (!string.IsNullOrEmpty(item.ExpertProfileImage))
                                                        {
                                                            <img src="@Url.Content(item.ExpertProfileImage)" height="250" width="250" class="circle-img" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Content/img/Default.png" height="250" width="250" class="circle-img" />
                                                        }
                                                    </td>
                                                    <td>@item.ExpertName</td>
                                                    <td>@item.ExpertEmail</td>
                                                    <td>@item.ExperPassword</td>
                                                    <td>@item.ExpertLocation</td>
                                                    <td>@item.ExpertBio</td>
                                                    <td>
                                                        <a href="@Url.Action("ExpertDelete", "Admin", new { expertId = item.ExpertId })" class="btn btn-danger">
                                                            Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
</body>