@{
    ViewBag.Title = "Edit Category";
    Layout = null;
    @model ExploreLocal.Models.Tbl_Announcement
}
<head>
    <link rel="stylesheet" href="~/Content/css/AdminPanel.css?v=@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title> Edit Your Announcement - AdminPanel</title>
</head>
<style>
    body {
        font-family: 'Poppins', sans-serif;
    }

    .thecontainer {
        width: 500px;
        padding: 25px;
        box-shadow: rgba(17, 12, 46, 0.08) 0px 48px 100px 0px;
        border-radius: 12px;
    }

    #custom-input {
        width: 60vh;
        border-color: #3385ff;
        height: 50px;
        padding: 20px;
        box-shadow: rgba(17, 12, 46, 0.02) 0px 48px 100px 0px;
        transition: 0.2s;
    }

        #custom-input:focus {
            padding: 15px;
            border-color: cornflowerblue;
        }

    .btn-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

        .btn-container button {
            margin: 10px;
            padding: 10px 20px;
            margin-left: 5px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            border: none;
        }

        .btn-container .btn-save {
            background-color: #3554D1;
            color: #fff;
        }

        .btn-container .btn-cancel {
            margin: 10px;
            padding: 10px 20px;
            margin-left: 10px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            border: none;
            background-color: #F76B6A;
            color: #fff;
        }

    #wrapper {
        overflow-x: hidden;
    }

    #sidebar-wrapper {
        min-height: 100vh;
        width: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin 0.25s ease-out;
        -moz-transition: margin 0.25s ease-out;
        -o-transition: margin 0.25s ease-out;
        transition: margin 0.25s ease-out;
        box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
        border: 0.5px solid dodgerblue;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 100vw;
    }

    #menu-toggle {
        border: none;
        background: none;
        padding: 0;
        font-size: 24px;
    }
</style>
@Html.Partial("Layout")
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <div class="body-wrapper">
        <div class="container-fluid">
            <div class="container" style="display:flex;justify-content:center;align-items:center;height:100vh;">
                @using (Html.BeginForm("Save_Annoucement", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "signupform" }))
                {
                    <div class="thecontainer">
                        @Html.HiddenFor(model => model.Announcement_id)
                        <br />
                        <div class="form-group">
                            <label>Announcement Name: </label>
                            <br />
                            @Html.TextBoxFor(model => model.Announcement_headline, new { @class = "form-control", @id = "custom-input" })
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Announcement Description: </label>
                            <br />
                            @Html.TextBoxFor(model => model.Announcement_description, new { @class = "form-control", @id = "custom-input" })
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Announcement Image: </label>
                            <br />
                            <input type="file" name="imgfile" id="imgfile" style="height: 50px; box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px; background-color: white; width: 60vh; border-color: white; padding-top: 10px; padding-bottom: 5px;padding-left:10px;" />
                        </div>
                        <br />
                        <div class="btn-container">
                            <button type="submit" class="btn btn-save">Save</button>
                            <a href="@Url.Action("View_Annoucement")" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                }
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
    document.getElementById('signupform').addEventListener('submit', function(event) {
        event.preventDefault();
        Swal.fire({
            icon: 'success',
            title: 'Congrats!',
            text: 'Your Announcement is Updated!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("View_Annoucement", "ExploreLocal")';
                this.submit();
            }
        });
    });
            </script>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>