@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mordenize</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" type="image/png" href="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/favicon.ico" />
    <link rel="stylesheet" href="~/AdminTemplate/dist/libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/AdminTemplate/dist/css/style.min.css" />
</head>
<body>
    <div class="preloader">
        <img src="https://snipboard.io/rluDKe.jpg" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <aside class="left-sidebar">
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="@Url.Action("Admin_Panel")" class="text-nowrap logo-img">
                        <img src="https://snipboard.io/ghR6Zb.jpg" class="dark-logo" width="180" alt="" />
                        <img src="https://snipboard.io/ghR6Zb.jpg" class="light-logo" width="180" alt="" />
                    </a>
                    <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8 text-muted"></i>
                    </div>
                </div>
                <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Admin_Panel")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-home"></i>
                                </span>
                                <span class="hide-menu">Admin Panel</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Venues</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Add_Venue")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-plus"></i>
                                </span>
                                <span class="hide-menu">Add Venues</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("View_Venue")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-eye"></i>
                                </span>
                                <span class="hide-menu">View Venues</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Announcement</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Add_Annoucement")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-speakerphone"></i>
                                </span>
                                <span class="hide-menu">Add Announcement</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("View_Annoucement")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-eye"></i>
                                </span>
                                <span class="hide-menu">View Announcement</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Users</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("RegisteredUser")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user"></i>
                                </span>
                                <span class="hide-menu">Registered Users</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Experts</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("AllExperts")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-star"></i>
                                </span>
                                <span class="hide-menu">All Experts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("ExpertRequests")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-presentation-off"></i>
                                </span>
                                <span class="hide-menu">Experts Requests</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("ExpertTourRequests")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-world-search"></i>
                                </span>
                                <span class="hide-menu">Experts Tour Request</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("ExpertTours")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-plane"></i>
                                </span>
                                <span class="hide-menu">Experts Tours</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("ExpertBookings")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-address-book"></i>
                                </span>
                                <span class="hide-menu">Experts Bookings</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Comments & Replies</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Comments")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-message"></i>
                                </span>
                                <span class="hide-menu">Comments</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Replies")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-mail"></i>
                                </span>
                                <span class="hide-menu">Replies</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Actions</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Logout")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-door-exit"></i>
                                </span>
                                <span class="hide-menu">Logout</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("AddAdmin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu">Add New Admin</span>
                            </a>
                        </li>
                    </ul>
                    <div class="unlimited-access hide-menu bg-light-primary position-relative my-7 rounded">
                        <div class="d-flex">
                            <div class="unlimited-access-title">
                                <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Best Travelling Across Globe</h6>
                                <a class="btn btn-primary fs-2 fw-semibold lh-sm" href="@Url.Action("Register","ExploreLocal")">Signup</a>
                            </div>
                            <div class="unlimited-access-img">
                                <img src="~/AdminTemplate/dist/images/backgrounds/rocket.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </aside>
    </div>
    <script src="~/AdminTemplate/dist/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/AdminTemplate/dist/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/AdminTemplate/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminTemplate/dist/js/app.min.js"></script>
    <script src="~/AdminTemplate/dist/js/app.minisidebar.init.js"></script>
    <script src="~/AdminTemplate/dist/js/app-style-switcher.js"></script>
    <script src="~/AdminTemplate/dist/js/sidebarmenu.js"></script>
    <script src="~/AdminTemplate/dist/js/custom.js"></script>
    <script src="~/AdminTemplate/dist/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/AdminTemplate/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/AdminTemplate/dist/js/dashboard.js"></script>
</body>
</html>