﻿﻿@model ExploreLocal.Models.Tbl_Admin
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Login Into Admin Panel - FlavourFusion</title>
    <style>

        body {
            font-family: 'Poppins', sans-serif;
        }

        .form-group {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        #custom-input {
            width:51vh;
            border-color: #3385ff;
            height: 50px;
            padding: 20px;
            box-shadow: rgba(17, 12, 46, 0.02) 0px 48px 100px 0px;
            transition: 0.2s;
        }

            #custom-input:focus {
                padding: 15px;
                border-color: cornflowerblue;
            }

        form {
            height:520px;
            padding-top: 40px;
            padding-bottom: 30px;
            padding-left: 100px;
            padding-right: 100px;
            margin-top: 50px;
            border-radius: 25px;
            margin-top: 50px;
            margin-bottom: 50px;
            box-shadow: rgba(17, 12, 46, 0.08) 0px 48px 100px 0px;
        }

        #thebutton {
            border: none;
            cursor: pointer;
            width: 100%;
            font-size: 23px;
            height: 50px;
            margin-bottom: 5px;
            margin-top: 15px;
            background-color: #3554d0;
            outline: none;
            border: none;
            color: white;
            border-radius: 8px;
        }

            #thebutton:hover {
                outline: none;
                border: none;
                background-color: darkblue;
            }

        #custom-input:focus {
            outline: none;
            box-shadow: none;
            box-shadow: rgba(149, 157, 165, 0.05) 0px 8px 24px;
        }
    </style>
</head>

<div class="d-flex justify-content-center align-items-center" style="margin-top:50px;">
    @using (Html.BeginForm())
    {
        <form method="post" class="border-5 theform">
            <h4 class="mb-4 text-center" style="position:relative;top:17px;margin-bottom:5px;">Login Into Admin Panel</h4> <br />
            <div class="shapatercontainer" style="margin-top:25px;">
            <div class="form-group">
                <label for="username">Username:</label>
                @Html.TextBoxFor(x => x.Admmin_Username, new { @class = "form-control custom-input", @id = "custom-input", @placeholder = "Enter Your Username" })
                <span style="color: red">@Html.ValidationMessageFor(x => x.Admmin_Username)</span>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                @Html.TextBoxFor(x => x.Admin_Password, new { @class = "form-control custom-input", @id = "custom-input", @placeholder = "Enter Your Password", @type = "password" })
                <span style="color: red">@Html.ValidationMessageFor(x => x.Admin_Password)</span>
            </div>

            <button type="submit" class="btn btn-primary" id="thebutton">
                Login
            </button>
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #fa4d67; color: white; border-radius: 7px; margin-top: 20px; box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;">
                    <strong style="font-weight:500;text-align:center;">@ViewBag.Error</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="color:white;font-weight:100;font-size:27px;">&times;</span>
                    </button>
                </div>
            }
            </div>
        </form>
    }
</div>