﻿﻿@model IEnumerable<ExploreLocal.Models.Tbl_User>
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/Content/css/AdminPanel.css?v=@DateTime.Now.Ticks" />
    <title>Our All Registered Users - FlavourFusion</title>
    <style>

        .table-responsive::-webkit-scrollbar {
            display: none;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        .center-card {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin-bottom: 50px;
        }

        .circle-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .center-heading {
            text-align: center;
            margin-top: 20px;
        }

        #navbar-example2 {
            margin-top: 50px;
            box-shadow: rgba(0, 0, 0, 0.03) 0px 10px 50px;
            width: 900px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 8px;
            height: 60px;
        }

        .nav-link {
            color: black;
            font-size: 17px;
            transition: 0.2s;
        }

            .nav-link:hover {
                color: rgb(255, 132, 0);
                font-size: 19px;
            }

            .nav-link:focus,
            .nav-link:active,
            .nav-link:focus,
            .nav-link:active {
                color: black;
                outline: none;
            }

            .nav-link:hover {
                color: rgb(255, 132, 0);
            }

        .dropdown-toggle::after {
            transition: transform 0.2s ease-in-out;
            transform: rotate(0deg);
        }

        .dropdown-toggle:hover::after {
            transform: rotate(180deg);
        }

        .dropdown-toggle[aria-expanded="true"]::after {
            transform: rotate(180deg);
        }
    </style>
</head>
<div class="container" style="margin-top: 150px;">
    @if (ViewBag.ToastMessage != null)
    {
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" id="toast">
            <div class="toast-header">
                <img src="~/Content/img/greentick-icon.png" height="23" width="23" class="rounded mr-2" alt="...">
                <small>@DateTime.Now</small>
                <button type="button" class="btn-close" onclick="hideToast()" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p class="card-text">@ViewBag.ToastMessage</p>
            </div>
        </div>
    }
    <ul class="nav" style="box-shadow: rgba(17, 12, 46, 0.08) 0px 48px 100px 0px;height:55px;">
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Admin_Panel")">Home</a></li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link" href="@Url.Action("Add_Venue")">Add Venues</a>
                <div class="dropdown-content">
                    <a href="@Url.Action("View_Venue")">View Venues</a>
                </div>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("Create_Destination","Admin")">Add Tours</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Bookings</a></li>
        <li class="nav-item"><a class="nav-link" href="@Url.Action("RegisteredUser","Admin")">Users</a></li>
    </ul>
</div>
<div class="center-card" style="border: none;">
    <div class="card container center-table bg-white" style="box-shadow: rgba(17, 12, 46, 0.05) 0px 48px 100px 0px;">
        <div class="container center-heading">
            <h3>Registered <span style="color:rgb(255, 132, 0);">Users</span></h3>
        </div>
        <hr style="color:black;" />
        <div class="table-responsive" style="height: 300px; overflow-y: scroll;">
            <div class="table-responsive">
                <table class="table table-borderless bg-white text-black customtable">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Email</td>
                            <td>Password</td>
                            <td>Image</td>
                            <td>Location</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.UserID</td>
                                    <td>@item.FirstName @item.LastName</td>
                                    <td>@item.Email</td>
                                    <td>@item.Password</td>
                                    <td><img src="@Url.Content(item.ProfileImage)" height="250" width="250" class="circle-img" /></td>
                                    <td>@item.Location</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>