@model ExploreLocal.Models.ToursViewModel
<main style="margin-top:120px;">
    <section class="layout-pb-md">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="relative d-flex">
                        <img src="/Template/img/pages/destinations/theend1.png" alt="image" class="col-12 rounded-4">
                    </div>
                </div>
            </div>

            <div class="row y-gap-20 pt-40">
                <div class="col-auto">
                    <h2 class="">What to Know Before Visiting @Model.SelectedVenueName</h2>
                </div>

                <div class="col-xl-8">
                    <p class="text-15 text-dark-1">
                        @Model.SelectedVenueDescription
                    </p>
                </div>

                <div class="col-xl-4">
                    <div class="relative d-flex ml-35">
                        <img src="/Template/img/pages/destinations/map.png" alt="image" class="col-12 rounded-4">

                        <div class="absolute d-flex justify-center items-end col-12 h-full z-1 px-35 py-20">
                            <a href="https://maps.google.com/">
                                <button class="button h-50 px-25 -blue-1 bg-white text-dark-1 text-14 fw-500 col-12" style="font-size:16px;padding:15px;">
                                    <i class="icon-eye text-18 mr-10"></i>
                                    See More In Depth In Map
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-30 border-top-light"></div>
        </div>
    </section>

    <section class="layout-pt-md layout-pb-md">
        <div class="container">
            <div class="row y-gap-20 justify-between items-end">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Our @Model.SelectedVenueName Venue Tours</h2>
                        <p class="sectionTitle__text mt-5 sm:mt-0">There is The Best Destination for @Model.SelectedVenueName</p>
                    </div>
                </div>
            </div>
            <div class="row y-gap-30 pt-40 sm:pt-20">
                    @foreach (var tour in Model.SelectedVenueTours)
                    {
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <a href="@Url.Action("DestinationDetails", "ExploreLocal", new { id = tour.DestinationID })" class="hotelsCard -type-1 ">
                                <div class="hotelsCard__image">
                                    <div class="cardImage ratio ratio-1:1">
                                        @if (!string.IsNullOrEmpty(tour.Image))
                                        {
                                            var imagePaths = tour.Image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                            foreach (var imagePath in imagePaths)
                                            {
                                                var imageUrl = Url.Content(imagePath);
                                                <div class="cardImage__content">
                                                    <img class="rounded-4 col-12" src="@imageUrl" alt="Tour Image">
                                                </div>
                                            }
                                        }
                                    <div class="cardImage__wishlist">
                                        <style>

                                            #theicon 
                                            {
                                                background-color: #3554D1;
                                            }

                                            #theicon:hover {
                                                background-color: white;
                                            }
                                            #thehearticon {
                                                color: white;
                                            }
                                            #thehearticon:hover {
                                                color: black;
                                            }
                                        </style>
                                        <button class="button size-30 rounded-full shadow-2" id="theicon">
                                            <a href="@Url.Action("Add_Wishlist", "ExploreLocal", new { id = tour.DestinationID })" class="action-card action-wishlist">
                                                <i class="icon-heart text-12" id="thehearticon"></i>
                                            </a>
                                        </button>
                                    </div>
                                    </div>
                                </div>
                                <div class="hotelsCard__content mt-10">
                                    <div class="d-flex items-center lh-14 mb-5 mt-10">
                                        <div class="text-14 text-light-1"><span style="font-weight:600;"> Duration:</span> @tour.Destination_Duration</div>
                                        <div class="text-14 text-light-1" style="margin-left:8px;"><span style="font-weight:600;"> Language:</span> @tour.Language</div>
                                    </div>
                                    <h4 class="hotelsCard__title text-dark-1 text-18 lh-16 fw-500">
                                        <a href="@Url.Action("DestinationDetails", "ExploreLocal", new { id = tour.DestinationID })" class="hotelsCard -type-1 ">
                                            <span>@tour.DestinationName</span>
                                        </a>
                                    </h4>
                                    <p class="text-light-1 lh-14 text-14 mt-5">@tour.Country</p>
                                    <div class="d-flex items-center mt-20">
                                    </div>
                                    <div class="mt-5">
                                        <div class="fw-500">
                                            Starting from <span class="text-blue-1">@string.Format("{0:N0}", tour.Price) PKR</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
            </div>
        </div>
    </section>

    <section class="layout-pt-md layout-pb-md">
        <div class="container">
            <div class="row y-gap-20 justify-between items-end">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Most Popular Tours</h2>
                    </div>
                </div>
            </div>
            <div class="row y-gap-30 pt-40 sm:pt-20">
                @foreach (var tour in Model.MostPopularTours)
                {
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <a href="@Url.Action("TourDetails", "Tour", new { id = tour.DestinationID })" class="tourCard -type-1 rounded-4 ">
                            <div class="tourCard__image">
                                <div class="cardImage ratio ratio-1:1">
                                    @if (!string.IsNullOrEmpty(tour.Image))
                                    {
                                        var imagePaths = tour.Image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                        foreach (var imagePath in imagePaths)
                                        {
                                            var imageUrl = Url.Content(imagePath);
                                            <div class="cardImage__content">
                                                <img class="rounded-4 col-12" src="@imageUrl" alt="image">
                                            </div>
                                        }
                                    }
                                <div class="cardImage__wishlist">
                                    <style>

                                        #theicon {
                                            background-color: #3554D1;
                                        }

                                            #theicon:hover {
                                                background-color: white;
                                            }

                                        #thehearticon {
                                            color: white;
                                        }

                                            #thehearticon:hover {
                                                color: black;
                                            }
                                    </style>
                                    <button class="button size-30 rounded-full shadow-2" id="theicon">
                                        <a href="@Url.Action("Add_Wishlist", "ExploreLocal", new { id = tour.DestinationID })" class="action-card action-wishlist">
                                            <i class="icon-heart text-12" id="thehearticon"></i>
                                        </a>
                                    </button>
                                </div>
                                </div>
                            </div>
                            <div class="tourCard__content mt-10">
                                <div class="d-flex items-center lh-14 mb-5 mt-10">
                                    <div class="text-14 text-light-1"><span style="font-weight:600;"> Duration:</span> @tour.Destination_Duration</div>
                                    <div class="text-14 text-light-1" style="margin-left:8px;"><span style="font-weight:600;"> Language:</span> @tour.Language</div>
                                </div>
                                <h4 class="tourCard__title text-dark-1 text-18 lh-16 fw-500">
                                    <a href="@Url.Action("DestinationDetails", "ExploreLocal", new { id = tour.DestinationID })" class="hotelsCard -type-1 ">

                                        <span>@tour.DestinationName</span>
</a>
                                </h4>
                                <p class="text-light-1 lh-14 text-14 mt-5">@tour.Country</p>
                                <div class="row justify-between items-center pt-15">
                                    <div class="col-auto">
                                        <div class="text-14 text-light-1">
                                            From
                                            <span class="text-blue-1">@string.Format("{0:N0}", tour.Price) PKR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>


    <section class="layout-pt-md layout-pb-md">
        <div class="container">
            <div class="row y-gap-20 justify-between items-end">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Trending Activity</h2>
                    </div>
                </div>
            </div>
            <div class="row y-gap-30 pt-40 sm:pt-20">
                @foreach (var activity in Model.TrendingTours)
                {
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <a href="@Url.Action("ActivityDetails", "Activity", new { id = activity.DestinationID })" class="activityCard -type-1 rounded-4 ">
                            <div class="activityCard__image">
                                <div class="cardImage ratio ratio-1:1">
                                    @if (!string.IsNullOrEmpty(activity.Image))
                                    {
                                        var imagePaths = activity.Image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                        foreach (var imagePath in imagePaths)
                                        {
                                            var imageUrl = Url.Content(imagePath);
                                            <div class="cardImage__content">
                                                <img class="rounded-4 col-12" src="@imageUrl" alt="image">
                                            </div>
                                        }
                                    }
                                <div class="cardImage__wishlist">
                                    <style>

                                        #theicon {
                                            background-color: #3554D1;
                                        }

                                            #theicon:hover {
                                                background-color: white;
                                            }

                                        #thehearticon {
                                            color: white;
                                        }

                                            #thehearticon:hover {
                                                color: black;
                                            }
                                    </style>
                                    <button class="button size-30 rounded-full shadow-2" id="theicon">
                                        <a href="@Url.Action("Add_Wishlist", "ExploreLocal", new { id = activity.DestinationID })" class="action-card action-wishlist">
                                            <i class="icon-heart text-12" id="thehearticon" ></i>
                                        </a>
                                    </button>
                                </div>
                                </div>
                            </div>
                            <div class="d-flex items-center lh-14 mb-5 mt-10">
                                <div class="text-14 text-light-1"><span style="font-weight:600;"> Duration:</span> @activity.Destination_Duration</div>
                                <div class="text-14 text-light-1" style="margin-left:8px;"><span style="font-weight:600;"> Language:</span> @activity.Language</div>
                            </div>
                            <div class="activityCard__content mt-10">
                                <h4 class="activityCard__title lh-16 fw-500 text-dark-1 text-18">
                                    <a href="@Url.Action("DestinationDetails", "ExploreLocal", new { id = activity.DestinationID })" class="hotelsCard -type-1 ">

                                        <span>@activity.DestinationName</span>
                                        </a>
                                </h4>
                            </div>
                            <p class="text-light-1 text-14 lh-14 mt-5">@activity.Country</p>
                            <div class="row justify-between items-center pt-10">
                                <div class="col-auto">
                                    <div class="text-14 text-light-1">
                                        From
                                        <span class="text-blue-1">@string.Format("{0:N0}", activity.Price) PKR</span>
                                    </div>
                                </div>
                            </div>
                    </a>
                </div>
                }
            </div>
        </div>
    </section>



    <section class="layout-pt-lg layout-pb-md">
        <div class="container">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Our Latest Updates</h2>
                    </div>
                </div>
            </div>
            @if (Model.Announcement != null && Model.Announcement.Count > 0)
            {
                <div class="row y-gap-30 pt-40">
                    @foreach (var announcement in Model.Announcement)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <a href="#" class="blogCard -type-1 d-block">
                                <div class="blogCard__image">
                                    <div class="ratio ratio-4:3 rounded-4 rounded-8">
                                        <img class="img-ratio js-lazy" src="@Url.Content(announcement.Announcement_image)" alt="image">
                                    </div>
                                </div>
                                <div class="mt-20">
                                    <h4 class="text-dark-1 text-18 fw-500">@announcement.Announcement_headline</h4>
                                    <div class="text-light-1 text-15 lh-14 mt-5">@announcement.Announcement_description</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </section>


    <section class="layout-pt-lg layout-pb-lg bg-light-2">
        <div class="container">
            <div class="row y-gap-40 justify-between">
                <div class="col-xl-5 col-lg-6">
                    <h2 class="text-30">What our customers are<br> saying us?</h2>
                    <p class="mt-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius tortor nibh, sit amet tempor nibh finibus et. Aenean eu enim justo.</p>

                    <div class="row y-gap-30 pt-60 lg:pt-40">
                        <div class="col-sm-5 col-6">
                            <div class="text-30 lh-15 fw-600">13m+</div>
                            <div class="text-light-1 lh-15">Happy People</div>
                        </div>

                        <div class="col-sm-5 col-6">
                            <div class="text-30 lh-15 fw-600">4.88</div>
                            <div class="text-light-1 lh-15">Overall rating</div>

                            <div class="d-flex x-gap-5 items-center pt-10">

                                <div class="icon-star text-blue-1 text-10"></div>

                                <div class="icon-star text-blue-1 text-10"></div>

                                <div class="icon-star text-blue-1 text-10"></div>

                                <div class="icon-star text-blue-1 text-10"></div>

                                <div class="icon-star text-blue-1 text-10"></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="overflow-hidden js-section-slider" data-scrollbar data-slider-cols="base-1">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="row items-center x-gap-30 y-gap-20">
                                    <div class="col-auto">
                                        <img src="/Template/img/avatars/1.png" alt="image">
                                    </div>

                                    <div class="col-auto">
                                        <h5 class="text-16 fw-500">Annette Black</h5>
                                        <div class="text-15 text-light-1 lh-15">UX / UI Designer</div>
                                    </div>
                                </div>

                                <p class="text-18 fw-500 text-dark-1 mt-30 sm:mt-20">The place is in a great location in Gumbet. The area is safe and beautiful. The apartment was comfortable and the host was kind and responsive to our requests.</p>
                            </div>

                            <div class="swiper-slide">
                                <div class="row items-center x-gap-30 y-gap-20">
                                    <div class="col-auto">
                                        <img src="/Template/img/avatars/1.png" alt="image">
                                    </div>

                                    <div class="col-auto">
                                        <h5 class="text-16 fw-500">Annette Black</h5>
                                        <div class="text-15 text-light-1 lh-15">UX / UI Designer</div>
                                    </div>
                                </div>

                                <p class="text-18 fw-500 text-dark-1 mt-30 sm:mt-20">The place is in a great location in Gumbet. The area is safe and beautiful. The apartment was comfortable and the host was kind and responsive to our requests.</p>
                            </div>

                            <div class="swiper-slide">
                                <div class="row items-center x-gap-30 y-gap-20">
                                    <div class="col-auto">
                                        <img src="/Template/img/avatars/1.png" alt="image">
                                    </div>

                                    <div class="col-auto">
                                        <h5 class="text-16 fw-500">Annette Black</h5>
                                        <div class="text-15 text-light-1 lh-15">UX / UI Designer</div>
                                    </div>
                                </div>

                                <p class="text-18 fw-500 text-dark-1 mt-30 sm:mt-20">The place is in a great location in Gumbet. The area is safe and beautiful. The apartment was comfortable and the host was kind and responsive to our requests.</p>
                            </div>

                        </div>

                        <div class="d-flex items-center mt-60 sm:mt-20">
                            <div class="text-dark-1 fw-500">01</div>
                            <div class="slider-scrollbar bg-border ml-20 mr-20 w-max-300 js-scrollbar"></div>
                            <div class="text-dark-1 fw-500">05</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="layout-pt-lg layout-pb-md">
        <div class="container">
            <div class="row y-gap-20">
                <div class="col-lg-4">
                    <h2 class="text-30 fw-500">
                        FAQs about<br>
                        London
                    </h2>
                </div>

                <div class="col-lg-8">
                    <div class="accordion -simple row y-gap-20 js-accordion">

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">What do I need to hire a car?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">How old do I have to be to rent a car?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">Can I book a hire car for someone else?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">How do I find the cheapest car hire deal?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="accordion__item px-20 py-20 border-light rounded-4">
                                <div class="accordion__button d-flex items-center">
                                    <div class="accordion__icon size-40 flex-center bg-light-2 rounded-full mr-20">
                                        <i class="icon-plus"></i>
                                        <i class="icon-minus"></i>
                                    </div>

                                    <div class="button text-dark-1">What should I look for when I&#39;m choosing a car?</div>
                                </div>

                                <div class="accordion__content">
                                    <div class="pt-20 pl-60">
                                        <p class="text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="layout-pt-md layout-pb-md bg-dark-2">
        <div class="container">
            <div class="row y-gap-30 justify-between items-center">
                <div class="col-auto">
                    <div class="row y-gap-20  flex-wrap items-center">
                        <div class="col-auto">
                            <div class="icon-newsletter text-60 sm:text-40 text-white"></div>
                        </div>

                        <div class="col-auto">
                            <h4 class="text-26 text-white fw-600">Your Travel Journey Starts Here</h4>
                            <div class="text-white">Sign up and we'll send the best deals to you</div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="single-field -w-410 d-flex x-gap-10 y-gap-20">
                        <div>
                            <input class="bg-white h-60" type="text" placeholder="Your Email">
                        </div>

                        <div>
                            <button class="button -md h-60 bg-blue-1 text-white">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>