@model ExploreLocal.Models.ExpertViewModel
<head>
    <title>Register New Expert Profile - ExploreLocal</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <section class="layout-pt-lg layout-pb-lg bg-blue-2">
        <div class="container">
            <div class="row justify-center">
                <div class="col-xl-6 col-lg-7 col-md-9">
                    <div class="px-50 py-50 sm:px-20 sm:py-20 bg-white shadow-4 rounded-4">
                        <div class="row y-gap-20">
                            <div class="col-12">
                                <h1 class="text-22 fw-500">Expert Registration</h1>
                                <p class="mt-10">You're Already An Expert? <a href="@Url.Action("ExpertLogin","ExploreLocal")" class="text-blue-1">Log in</a></p>
                            </div>

                            <div class="col-12">
                                @using (Html.BeginForm("ExpertRegistration", "ExploreLocal", FormMethod.Post, new { id = "signupform" }))
                                {
                                    <div class="form-input">
                                        @Html.TextBoxFor(m => m.ExpertName, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">Enter Your Name</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        @Html.TextBoxFor(m => m.ExpertEmail, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">Enter Your Email</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        @Html.TextBoxFor(m => m.ExperPassword, new { @class = "form-control", required = "required", type = "password" })
                                        <label class="lh-1 text-14 text-light-1">Enter Password</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        @Html.TextBoxFor(m => m.ExpertLocation, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">Enter Your Location</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        @Html.TextAreaFor(m => m.ExpertBio, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">Enter Your Brief Description</label>
                                    </div>
                                    <br />
                                    <input type="submit" value="Submit" class="button py-20 -dark-1 bg-blue-1 text-white" style="width:100%;">
                                }
                            </div>
                        </div>

                        <div class="row y-gap-20 pt-30">
                            <div class="col-12">
                                <div class="text-center px-30">By Signing In, I Agree To Terms of Use And Privacy Policy.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="layout-pt-md layout-pb-md bg-dark-2">
        <div class="container">
            <div class="row y-gap-30 justify-between items-center">
                <div class="col-auto">
                    <div class="row y-gap-20  flex-wrap items-center">
                        <div class="col-auto">
                            <div class="icon-newsletter text-60 sm:text-40 text-white"></div>
                        </div>

                        <div class="col-auto">
                            <h4 class="text-26 text-white fw-600">Your Travel Journey Starts Here</h4>
                            <div class="text-white">Sign up and we'll send the best deals to you</div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="single-field -w-410 d-flex x-gap-10 y-gap-20">
                        <div>
                            <input class="bg-white h-60" type="text" placeholder="Your Email">
                        </div>

                        <div>
                            <button class="button -md h-60 bg-blue-1 text-white">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    document.getElementById('signupform').addEventListener('submit', function (event) {
        event.preventDefault();
        Swal.fire({
            icon: 'success',
            title: 'Congrats Your Request Submitted!'
/*            text: 'Your Request Has Been Submitted!'*/
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '@Url.Action("ExpertRegistrationSuccess", "ExploreLocal")';
                this.submit();
            }
        });
    });
    </script>
</body>