@model ExploreLocal.Models.IndexViewModel

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function hideToast() {
            $('#toast').toast('hide');
        }
    </script>
</head>
<body>
    @if (ViewBag.ToastMessage != null)
    {
        <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" id="toast">
            <div class="toast-header">
                <img src="~/Content/img/greentick-icon.png" height="23" width="23" class="rounded mr-2" alt="...">
                <small>@DateTime.Now</small>
                <button type="button" class="btn-close" onclick="hideToast()" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p class="card-text">@ViewBag.ToastMessage</p>
            </div>
        </div>
    }
    <section data-anim-wrap class="masthead -type-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <h1 data-anim-child="slide-up delay-4" class="text-60 lg:text-40 md:text-30">Best Travel <span class="text-blue-1 relative">Experience <span class="-line"><img src="../Template/img/general/line.png" alt="image"></span></span></h1>
                    <p data-anim-child="slide-up delay-5" class="mt-20">Explore Our Exciting Tour And Travel Packages. Book Your Stay, Find Great Vacation Packages, <br /> And Discover Amazing Destinations.</p>
                </div>
                <div class="container">
                    <style>
                        .venue-dropdown {
                            margin-right: 10px;
                        }

                        .search-input input[type="text"] {
                            padding: 8px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }

                        .search-button button {
                            padding: 8px 12px;
                            background-color: #007bff;
                            color: #fff;
                            border: none;
                            border-radius: 4px;
                            cursor: pointer;
                        }

                        /* Style the select options */
                        .custom-select .theoption {
                            background-color: white;
                            border-radius: 12px;
                            box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
                            padding: 50px;
                        }
                    </style>
                    @using (Html.BeginForm("SearchDestinations", "ExploreLocal", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <div class="search-bar" style="display: flex; align-items: flex-start; margin-top: 30px; padding: 15px; background-color: white; border-radius: 12px; box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px; width: 620px;">
                            <div class="form-group venue-dropdown">
                                <select name="SelectedVenueId" class="form-control custom-select" required>
                                    <option value="" selected disabled>Select a Venue</option>
                                    @foreach (var venue in Model.Venues)
                                    {
                                        <option value="@venue.Venue_id" class="theoption">@venue.Venue_name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" name="searchQuery" placeholder="Search for destinations..." class="form-control" style="margin-left: 20px;" required>
                            </div>
                            <button type="submit" style="margin-left: 150px;">Search</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div data-anim-child="fade" class="masthead__image">
            <img src="../Template/img/masthead/5/the1.png" alt="image" style="border-bottom-left-radius:15px;">
        </div>
    </section>




    <section class="layout-pt-lg layout-pb-md">
        @if (Model.Venues != null && Model.Venues.Any())
        {
            <div data-anim-wrap class="container">
                <div data-anim-child="slide-up delay-1" class="row y-gap-20 justify-between items-end">
                    <div class="col-auto">
                        <div class="sectionTitle -md">
                            <h2 class="sectionTitle__title">Most Popular Venues</h2>
                            <p class=" sectionTitle__text mt-5 sm:mt-0">Checkout Our Best Venues That Suits You </p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="#" class="button -md -blue-1 bg-blue-1-05 text-blue-1">
                            More <div class="icon-arrow-top-right ml-15"></div>
                        </a>
                    </div>
                </div>
                <div class="relative overflow-hidden pt-40 sm:pt-20 js-section-slider" data-gap="30" data-scrollbar data-slider-cols="xl-4 lg-3 md-2 sm-2 base-1" data-nav-prev="js-hotels-prev" data-pagination="js-hotels-pag" data-nav-next="js-hotels-next">
                    <div class="swiper-wrapper">
                        @foreach (var venue in Model.Venues)
                        {
                            <div class="swiper-slide">
                                <a href="tour-single.html" class="tourCard -type-1 rounded-4 ">
                                    <div class="tourCard__image">
                                        <img class="rounded-4" src="@Url.Content(venue.Venue_img)" alt="image" style="margin-bottom:0px;">
                                    </div>
                                    <div class="tourCard__content mt-10" style="text-align:center;">
                                        <h4 class="tourCard__title text-dark-1 text-18 lh-16 fw-500">
                                            <span>@venue.Venue_name</span>
                                        </h4>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="d-flex x-gap-15 items-center justify-center pt-40 sm:pt-20">
                        <div class="col-auto">
                            <button class="d-flex items-center text-24 arrow-left-hover js-hotels-prev">
                                <i class="icon icon-arrow-left"></i>
                            </button>
                        </div>

                        <div class="col-auto">
                            <div class="pagination -dots text-border js-hotels-pag"></div>
                        </div>

                        <div class="col-auto">
                            <button class="d-flex items-center text-24 arrow-right-hover js-hotels-next">
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>

    <section class="layout-pt-md layout-pb-md">
        <div data-anim-wrap class="container">
            <div data-anim-child="slide-up delay-1" class="row y-gap-20 justify-between items-end">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">We Offer This Tours</h2>
                    </div>
                </div>

                <div class="col-auto">

                    <div class="d-flex x-gap-15 items-center ">
                        <div class="col-auto">
                            <button class="d-flex items-center text-24 arrow-left-hover js-tour-prev">
                                <i class="icon icon-arrow-left"></i>
                            </button>
                        </div>

                        <div class="col-auto">
                            <div class="pagination -dots text-border js-tour-pag"></div>
                        </div>

                        <div class="col-auto">
                            <button class="d-flex items-center text-24 arrow-right-hover js-tour-next">
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="relative overflow-hidden pt-40 sm:pt-20 js-section-slider" data-gap="30" data-scrollbar data-slider-cols="xl-5 lg-4 md-3 sm-2 base-1" data-nav-prev="js-tour-prev" data-pagination="js-tour-pag" data-nav-next="js-tour-next">
                <div class="swiper-wrapper">

                    <div data-anim-child="slide-up delay-2" class="swiper-slide">

                        <div class="tourTypeCard -type-1 d-block rounded-4 bg-blue-1-05 rounded-4">
                            <div class="tourTypeCard__content text-center pt-60 pb-24 px-30">
                                <i class="icon-nature text-60 sm:text-40 text-blue-1"></i>
                                <h4 class="text-dark-1 text-18 fw-500 mt-50 md:mt-30">Wildlife Tour</h4>
                            </div>
                        </div>

                    </div>

                    <div data-anim-child="slide-up delay-3" class="swiper-slide">

                        <div class="tourTypeCard -type-1 d-block rounded-4 bg-blue-1-05 rounded-4">
                            <div class="tourTypeCard__content text-center pt-60 pb-24 px-30">
                                <i class="icon-hiking text-60 sm:text-40 text-blue-1"></i>
                                <h4 class="text-dark-1 text-18 fw-500 mt-50 md:mt-30">Adventure Tour</h4>
                            </div>
                        </div>

                    </div>

                    <div data-anim-child="slide-up delay-4" class="swiper-slide">

                        <div class="tourTypeCard -type-1 d-block rounded-4 bg-blue-1-05 rounded-4">
                            <div class="tourTypeCard__content text-center pt-60 pb-24 px-30">
                                <i class="icon-city text-60 sm:text-40 text-blue-1"></i>
                                <h4 class="text-dark-1 text-18 fw-500 mt-50 md:mt-30">City Tours</h4>
                            </div>
                        </div>

                    </div>

                    <div data-anim-child="slide-up delay-5" class="swiper-slide">

                        <div class="tourTypeCard -type-1 d-block rounded-4 bg-blue-1-05 rounded-4">
                            <div class="tourTypeCard__content text-center pt-60 pb-24 px-30">
                                <i class="icon-museum text-60 sm:text-40 text-blue-1"></i>
                                <h4 class="text-dark-1 text-18 fw-500 mt-50 md:mt-30">Museum Tours</h4>
                            </div>
                        </div>

                    </div>

                    <div data-anim-child="slide-up delay-6" class="swiper-slide">

                        <div class="tourTypeCard -type-1 d-block rounded-4 bg-blue-1-05 rounded-4">
                            <div class="tourTypeCard__content text-center pt-60 pb-24 px-30">
                                <i class="icon-beach-umbrella text-60 sm:text-40 text-blue-1"></i>
                                <h4 class="text-dark-1 text-18 fw-500 mt-50 md:mt-30">Beaches Tour</h4>
                            </div>
                        </div>

                    </div>

                    <div data-anim-child="slide-up delay-7" class="swiper-slide">

                        <div class="tourTypeCard -type-1 d-block rounded-4 bg-blue-1-05 rounded-4">
                            <div class="tourTypeCard__content text-center pt-60 pb-24 px-30">
                                <i class="icon-nature text-60 sm:text-40 text-blue-1"></i>
                                <h4 class="text-dark-1 text-18 fw-500 mt-50 md:mt-30">Desert Tour</h4>
                            </div>
                        </div>

                    </div>

                    <div data-anim-child="slide-up delay-8" class="swiper-slide">

                        <div class="tourTypeCard -type-1 d-block rounded-4 bg-blue-1-05 rounded-4">
                            <div class="tourTypeCard__content text-center pt-60 pb-24 px-30">
                                <i class="icon-hiking text-60 sm:text-40 text-blue-1"></i>
                                <h4 class="text-dark-1 text-18 fw-500 mt-50 md:mt-30">National Tour</h4>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="layout-pt-md layout-pb-md">
        <div data-anim-wrap class="container">
            <div data-anim-child="slide-up" class="row y-gap-20 justify-between items-end">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Deals &amp; Discounts</h2>
                    </div>
                </div>

                <div class="col-auto">

                    <div class="d-flex x-gap-15 items-center ">
                        <div class="col-auto">
                            <button class="d-flex items-center text-24 arrow-left-hover js-deals-prev">
                                <i class="icon icon-arrow-left"></i>
                            </button>
                        </div>

                        <div class="col-auto">
                            <div class="pagination -dots text-border js-deals-pag"></div>
                        </div>

                        <div class="col-auto">
                            <button class="d-flex items-center text-24 arrow-right-hover js-deals-next">
                                <i class="icon icon-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row y-gap-30 pt-40">
                <div data-anim-child="slide-up delay-2" class="col-xl-5">

                    <div class="ctaCard -type-1 rounded-4 ">
                        <div class="ctaCard__image ratio ratio-63:55">
                            <img class="img-ratio js-lazy" src="#" data-src="../Template/img/backgrounds/6.png" alt="image">
                        </div>

                        <div class="ctaCard__content py-50 px-50 lg:py-30 lg:px-30">

                            <div class="text-15 fw-500 text-white mb-10">Enjoy Summer Deals</div>


                            <h4 class="text-30 lg:text-24 text-white">Book Early to Save</h4>

                            <div class="d-inline-block mt-30">
                                <a href="@Url.Action("Venues")" class="button px-48 py-15 -blue-1 -min-180 bg-white text-dark-1">Book Now</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div data-anim-child="slide-left delay-3" class="col-xl-7">
                    <div class="relative overflow-hidden js-section-slider" data-gap="30" data-scrollbar data-slider-cols="xl-3 lg-3 md-2 sm-2 base-1" data-nav-prev="js-deals-prev" data-pagination="js-deals-pag" data-nav-next="js-deals-next">
                        <div class="swiper-wrapper">
                            @foreach (var destination in Model.Destinations)
                            {
                                <div class="swiper-slide">
                                    <a href="@Url.Action("DestinationDetails", new { id = destination.DestinationID } )" class="tourCard -type-1 rounded-4 ">
                                        <div class="tourCard__image">
                                            <div class="cardImage ratio ratio-1:1">
                                                @if (!string.IsNullOrEmpty(destination.Image))
                                                {
                                                    var imagePaths = destination.Image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                    foreach (var imagePath in imagePaths)
                                                    {
                                                        var imageUrl = Url.Content(imagePath);
                                                        <div class="cardImage__content">
                                                            <img class="rounded-4 col-12" src="@imageUrl" alt="image">
                                                        </div>
                                                    }
                                                }
                                                <div class="cardImage__wishlist">
                                                    <button class="button -blue-1 bg-white size-30 rounded-full shadow-2">
                                                        <i class="icon-heart text-12"></i>
                                                    </button>
                                                </div>
                                                <div class="cardImage__leftBadge">
                                                    <div class="py-5 px-15 rounded-right-4 text-12 lh-16 fw-500 uppercase bg-dark-1 text-white">
                                                        LIKELY TO SELL OUT*
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tourCard__content mt-10">
                                            <div class="d-flex items-center lh-14 mb-5">
                                                <div class="text-14 text-light-1">@destination.Destination_Duration</div>
                                                <div class="size-3 bg-light-1 rounded-full ml-10 mr-10"></div>
                                                <style>
                                                    .destination-date {
                                                        list-style: none;
                                                        padding: 0;
                                                        text-decoration: none;
                                                        width: 120px;
                                                        position: relative;
                                                        left: 65px;
                                                    }
                                                </style>
                                                <div class="text-14 text-light-1 destination-date">@Html.Raw(destination.StartDate)</div>
                                            </div>
                                            <h4 class="tourCard__title text-dark-1 text-18 lh-16 fw-500">
                                                <span>@destination.DestinationName</span>
                                            </h4>
                                            <p class="text-light-1 lh-14 text-14 mt-5">@destination.Country</p>
                                            <div class="row justify-between items-center pt-15">
                                                <div class="col-auto">
                                                    <div class="text-14 text-light-1">
                                                        From
                                                        <span class="text-16 fw-500 text-dark-1">@destination.Price</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="layout-pt-md layout-pb-lg">
        <div class="container">
            <div class="row y-gap-15 justify-center text-center">

                <div class="col-xl-3 col-sm-6">
                    <div class="text-40 lh-13 text-blue-1 fw-600">4,958</div>
                    <div class="text-14 lh-14 text-light-1 mt-5">Destinations</div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="text-40 lh-13 text-blue-1 fw-600">2,869</div>
                    <div class="text-14 lh-14 text-light-1 mt-5">Total Properties</div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="text-40 lh-13 text-blue-1 fw-600">2M</div>
                    <div class="text-14 lh-14 text-light-1 mt-5">Happy customers</div>
                </div>

                <div class="col-xl-3 col-sm-6">
                    <div class="text-40 lh-13 text-blue-1 fw-600">574,974</div>
                    <div class="text-14 lh-14 text-light-1 mt-5">Our Volunteers</div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-bg layout-pt-lg md:pt-0 md:pb-60 sm:pb-40 layout-pb-lg bg-blue-1-05">
        <div class="section-bg__item -right -image col-5 md:mb-60 sm:mb-40">
            <img src="../Template/img/backgrounds/5.png" alt="image">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-7">
                    <h2 class="text-30 fw-600">Why Choose Us</h2>
                    <p class="mt-5">These popular destinations have a lot to offer</p>

                    <div class="row y-gap-30 pt-60 md:pt-40">

                        <div class="col-12">
                            <div class="d-flex pr-30">
                                <img class="size-50" src="../Template/img/featureIcons/1/1.svg" alt="image">

                                <div class="ml-15">
                                    <h4 class="text-18 fw-500">Best Price Guarantee</h4>
                                    <p class="text-15 mt-10" style="width:550px;">Get the best deals and offers for your dream destinations.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="d-flex pr-30">
                                <img class="size-50" src="../Template/img/featureIcons/1/2.svg" alt="image">

                                <div class="ml-15">
                                    <h4 class="text-18 fw-500">Easy & Quick Booking</h4>
                                    <p class="text-15 mt-10" style="width:550px;">Book your tours and activities with a few clicks and enjoy seamless booking experience.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="d-flex pr-30">
                                <img class="size-50" src="../Template/img/featureIcons/1/3.svg" alt="image">

                                <div class="ml-15">
                                    <h4 class="text-18 fw-500">Customer Care 24/7</h4>
                                    <p class="text-15 mt-10" style="width:550px;">Our dedicated customer support is available 24/7 to assist you with any queries or issues.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-bg layout-pt-lg layout-pb-md">
        <div class="section-bg__item col-12">
            <img src="../Template/img/backgrounds/testimonials/bg.png" alt="image">
        </div>

        <div data-anim="slide-up delay-1" class="container">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Customer Reviews</h2>
                        <p class="sectionTitle__text mt-5 sm:mt-0">Read what our satisfied customers have to say</p>
                    </div>
                </div>
            </div>

            <div class="row justify-center pt-60 md:pt-30">
                <div class="col-xl-5 col-lg-8 col-md-11">
                    <div class="overflow-hidden js-section-slider" data-slider-cols="base-1" data-gap="30" data-pagination="js-testimonials-pag">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="testimonials -type-2 text-center">
                                    <div class="testimonials__image mb-24 md:mb-20">
                                        <img src="../Template/img/testimonials/2/quote.svg" alt="quote">
                                        <img src="../Template/img/testimonials/2/1.png" alt="quote">
                                    </div>

                                    <h4 class="text-16 fw-500 text-blue-1">Traveling Made Easy</h4>
                                    <div class="fw-500 text-dark-1 mt-20">"Exploring new destinations with ExploreLocal was a breeze. The convenience and affordability of the tours were outstanding."</div>

                                    <div class="testimonials__author mt-40">
                                        <h5 class="text-15 lh-14 fw-500">Sophia Reynolds</h5>
                                        <div class="text-14 text-light-1 mt-5">Adventurer</div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="testimonials -type-2 text-center">
                                    <div class="testimonials__image mb-24 md:mb-20">
                                        <img src="../Template/img/testimonials/2/quote.svg" alt="quote">
                                        <img src="../Template/img/testimonials/2/2.png" alt="quote">
                                    </div>

                                    <h4 class="text-16 fw-500 text-blue-1">Unforgettable Experiences</h4>
                                    <div class="fw-500 text-dark-1 mt-20">"Every tour with ExploreLocal has been a memorable journey. The variety of destinations and activities they offer is amazing."</div>

                                    <div class="testimonials__author mt-40">
                                        <h5 class="text-15 lh-14 fw-500">Lucas Martinez</h5>
                                        <div class="text-14 text-light-1 mt-5">Travel Enthusiast</div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="testimonials -type-2 text-center">
                                    <div class="testimonials__image mb-24 md:mb-20">
                                        <img src="../Template/img/testimonials/2/quote.svg" alt="quote">
                                        <img src="../Template/img/testimonials/2/3.png" alt="quote">
                                    </div>

                                    <h4 class="text-16 fw-500 text-blue-1">Highly Recommended</h4>
                                    <div class="fw-500 text-dark-1 mt-20">"I've had the best vacation experiences with ExploreLocal. Their attention to detail and exceptional customer service made every trip unforgettable."</div>

                                    <div class="testimonials__author mt-40">
                                        <h5 class="text-15 lh-14 fw-500">Emma Davis</h5>
                                        <div class="text-14 text-light-1 mt-5">Nature Lover</div>
                                    </div>
                                </div>
                            </div>



                            <!-- Add more customer reviews here -->

                        </div>

                        <div class="d-flex x-gap-15 items-center justify-center pt-40 sm:pt-20">
                            <div class="col-auto">
                                <button class="d-flex items-center text-24 arrow-left-hover js-prev">
                                    <i class="icon icon-arrow-left"></i>
                                </button>
                            </div>

                            <div class="col-auto">
                                <div class="pagination -dots text-border js-testimonials-pag"></div>
                            </div>

                            <div class="col-auto">
                                <button class="d-flex items-center text-24 arrow-right-hover js-next">
                                    <i class="icon icon-arrow-right"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="layout-pt-lg layout-pb-md">
        <div class="container">
            <div class="row justify-center text-center">
                <div class="col-auto">
                    <div class="text-15 lh-1">Trusted by the world’s best</div>
                </div>
            </div>

            <div class="row y-gap-40 justify-between items-center pt-60 lg:pt-40 sm:pt-20">

                <div class="col-md-auto col-6">
                    <div class="d-flex justify-center">
                        <img src="../Template/img/clients/1.svg" alt="image">

                    </div>
                </div>

                <div class="col-md-auto col-6">
                    <div class="d-flex justify-center">
                        <img src="../Template/img/clients/2.svg" alt="image">
                    </div>
                </div>

                <div class="col-md-auto col-6">
                    <div class="d-flex justify-center">
                        <img src="../Template/img/clients/3.svg" alt="image">
                    </div>
                </div>

                <div class="col-md-auto col-6">
                    <div class="d-flex justify-center">
                        <img src="../Template/img/clients/4.svg" alt="image">
                    </div>
                </div>

                <div class="col-md-auto col-6">
                    <div class="d-flex justify-center">
                        <img src="../Template/img/clients/5.svg" alt="image">
                    </div>
                </div>

                <div class="col-md-auto col-6">
                    <div class="d-flex justify-center">
                        <img src="../Template/img/clients/6.svg" alt="image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <style>
        .newsletter-container {
            background-image: url(../../Content/img/the2.png);
            background-size: cover;
            background-position: center;
            padding: 100px 0;
            text-align: center;
            color: #fff;
        }

        .newsletter-content {
            max-width: 600px;
            margin: 0 auto;
        }

            .newsletter-content h2 {
                font-size: 28px;
                margin-bottom: 20px;
            }

            .newsletter-content p {
                font-size: 16px;
                margin-bottom: 30px;
            }

        .newsletter-form {
            display: flex;
            align-items: center;
            max-width: 400px;
            margin: 0 auto;
        }

            .newsletter-form input {
                flex: 1;
                padding: 10px;
                margin-right: 10px;
                border-radius: 5px;
                border-radius: 8px;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            }

            .newsletter-form button {
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: dodgerblue;
                color: white;
                cursor: pointer;
            }
    </style>

    <div class="newsletter-container">
        <div class="newsletter-content">
            <h2>Subscribe to Our Newsletter</h2>
            <p>Stay updated with the latest news and offers.</p>
            <form class="newsletter-form">
                <input type="email" class="form-control" placeholder="Enter your email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>




    <section class="layout-pt-md layout-pb-lg">
        <div class="container">
            <div class="row y-gap-20 justify-between items-end">
                <div class="col-auto">
                    <div class="sectionTitle -md">
                        <h2 class="sectionTitle__title">Not a Member Yet?</h2>
                        <p class="text-dark-1 sectionTitle__text mt-5 sm:mt-0">Join us! Our members can access savings of up to 50% and earn Trip Coins while booking.</p>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="row x-gap-20 y-gap-20">
                        <div class="col-auto">
                            <button class="button px-40 h-60 -white bg-blue-1 text-white">
                                <a href="@Url.Action("Login")">
                                    Sign In
                                    <i class="icon-arrow-top-right ml-10"></i>
                                </a>
                            </button>
                        </div>

                        <div class="col-auto">
                            <button class="button px-40 h-60 -white bg-blue-1 text-white">
                                <a href="@Url.Action("Register")">
                                    Register
                                    <i class="icon-arrow-top-right ml-10"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>