@model ExploreLocal.Models.Tbl_User

@{
    ViewBag.Title = "Register";
}

<main>
    <section class="layout-pt-lg layout-pb-lg bg-blue-2">
        <div class="container">
            <div class="row justify-center">
                <div class="col-xl-6 col-lg-7 col-md-9">
                    <div class="px-50 py-50 sm:px-20 sm:py-20 bg-white shadow-4 rounded-4">
                        <div class="row y-gap-20">
                            <div class="col-12">
                                <h1 class="text-22 fw-500">Sign in or create an account</h1>
                                <p class="mt-10">Already have an account? <a href="@Url.Action("Login","ExploreLocal")" class="text-blue-1">Log in</a></p>
                            </div>

                            <div class="col-12">
                                @using (Html.BeginForm("Register", "ExploreLocal", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-input">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">First Name</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">Last Name</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">Email</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">Password</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        @Html.TextBoxFor(model => model.Location, new { @class = "form-control", required = "required" })
                                        <label class="lh-1 text-14 text-light-1">Your Location</label>
                                    </div>
                                    <br />
                                    <div class="form-input">
                                        <label>Profile Image:</label>
                                        <input type="file" name="imgfile" id="imgfile" class="form-control-file" required style="margin-top:10px;margin-bottom:25px;" />
                                        @Html.ValidationMessage("imgfile")
                                    </div>
                                    <button type="submit" class="button py-20 -dark-1 bg-blue-1 text-white" style="width:100%;">
                                        Sign Up <div class="icon-arrow-top-right ml-15"></div>
                                    </button>
                                }
                            </div>
                        </div>

                        <div class="row y-gap-20 pt-30">
                            @*<div class="col-12">
                                <div class="text-center">or sign in with</div>

                                <button class="button col-12 -outline-blue-1 text-blue-1 py-15 rounded-8 mt-10">
                                    <i class="icon-apple text-15 mr-10"></i>
                                    Facebook
                                </button>

                                <button class="button col-12 -outline-red-1 text-red-1 py-15 rounded-8 mt-15">
                                    <i class="icon-apple text-15 mr-10"></i>
                                    Google
                                </button>

                                <button class="button col-12 -outline-dark-2 text-dark-2 py-15 rounded-8 mt-15">
                                    <i class="icon-apple text-15 mr-10"></i>
                                    Apple
                                </button>
                            </div>*@

                            <div class="col-12">
                                <div class="text-center px-30">By Signing In, I Agree To Terms of Use And Privacy Policy.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="layout-pt-md layout-pb-md bg-dark-2">
        <div class="container">
            <div class="row y-gap-30 justify-between items-center">
                <div class="col-auto">
                    <div class="row y-gap-20  flex-wrap items-center">
                        <div class="col-auto">
                            <div class="icon-newsletter text-60 sm:text-40 text-white"></div>
                        </div>

                        <div class="col-auto">
                            <h4 class="text-26 text-white fw-600">Your Travel Journey Starts Here</h4>
                            <div class="text-white">Sign up and we'll send the best deals to you</div>
                        </div>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="single-field -w-410 d-flex x-gap-10 y-gap-20">
                        <div>
                            <input class="bg-white h-60" type="text" placeholder="Your Email">
                        </div>

                        <div>
                            <button class="button -md h-60 bg-blue-1 text-white">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
